@model WebBooksManage.Models.Book

@{
    ViewBag.Title = "Buy";
}

<h2>Buy</h2>
<br />
<p style="font-size:24px">
    Bạn đã mua cuốn sách <strong>@Model.Tittle</strong> với giá <strong>@Model.Price</strong> VND
</p>
